body {
  font: 14px "Helvetica", Inter, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #6883BC; /* Change the background color */
}

a {
  color: #00b7ff;
}

h1 {
  border-left: 5px solid #333;
  padding-left: 5px;
}

button {
  padding: 15px;
  cursor: pointer;
  font-size: 16px;
  background-color: #8A307F; /* Change the button color */
  border-color: #8A307F;
  color: #fff; /* Text color for light buttons */
}

.buttons-container {
  margin-top: 15px;
}

#defaultCanvas0 {
  border: 1px solid rgb(215, 215, 215);
  border-radius: 5px;
}

.custom-navbar {
  background-color: #79A7D3; /* Change the navbar background color */
}

.custom-navbar .navbar-brand {
  font-size: 28px;
  font-weight: normal;
  color: #000000;
}

.custom-navbar .nav-link {
  font-size: 14px;
  color: #090909;
}

